In [44]:
%matplotlib inline
import pandas as pd
import re
import seaborn as sns
import csv
import matplotlib.pyplot as plt
import statsmodels.api as sm

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.linear_model import LassoCV, RidgeCV, ElasticNetCV

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures

from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline

from scipy import stats

import numpy as np

import movies_2018
import movies_2020
import movie_data_2020
import movie_data_2019
import movie_data_2018

In [45]:
boxoffice_2020 = movies_2020.return_dicts()
boxoffice_2020

boxoffice_df = pd.DataFrame.from_dict(boxoffice_2020)
# df['metascores'] = pd.to_numeric(df['metascores'], errors='coerce')
# df['metascores'] = df['metascores'].str.extract('(\d+)')
# df['audience_scores'] = df['audience_scores'].str.extract('(\d+)')
# df['critic_count'] = df['critic_count'].str.extract('(\d+)')
# df['num_audience_ratings'] = df['num_audience_ratings'].str.extract('(\d+)')
# df.dropna(inplace=True)
cut_short_dict = df_2020_dicts[:43]

movie_titles = df_2020_dicts['movie_title']
cut_short = movie_titles[:43]

In [46]:
metascores_2020 = movie_data_2020.return_2020()
len(metascores_2020['metascores'])
cut_short_metas = metascores_2020['metascores'][:43]
cut_short_aud = metascores_2020['audience_scores'][:43]
cut_short_critics = metascores_2020['critic_count'][:43]
cut_short_aud_rat = metascores_2020['num_audience_ratings'][:43]
print(len(metascores_2020['critic_count']))
print(len(metascores_2020['audience_scores']))
print(len(metascores_2020['num_audience_ratings']))

df1 = pd.DataFrame(cut_short_dict)
df1['metascores'] = cut_short_metas
df1['audience scores'] = cut_short_aud
df1['critic count'] = cut_short_critics
df1['number of audience ratings'] = cut_short_aud_rat

df1['metascores'] = df1['metascores'].str.extract('(\d+)').astype(float)
df1['audience scores'] = df1['audience scores'].str.extract('(\d+)').astype(float)
df1['critic count'] = df1['critic count'].str.extract('(\d+)').astype(float)
df1['number of audience ratings'] = df1['number of audience ratings'].str.extract('(\d+)').astype(float)
df1['budget'] = df1['budget'].astype(float)
df1['domestic_total_gross'] = df1['domestic_total_gross'].astype(float)
dummies = pd.get_dummies(df1['rating'])
df1['rating'] = dummies.astype(float)
df1

251
251
251

,movie_title,domestic_total_gross,runtime_minutes,rating,budget,metascores,audience scores,critic count,number of audience ratings
0,Bad Boys for Life,204417855.0,124.0,0.0,90000000.0,59.0,6.0,46.0,228.0
1,1917,159227644.0,119.0,0.0,95000000.0,78.0,8.0,57.0,722.0
2,Sonic the Hedgehog,146066470.0,99.0,1.0,85000000.0,47.0,8.0,42.0,1097.0
3,Jumanji: The Next Level,316831246.0,123.0,0.0,125000000.0,58.0,6.0,37.0,263.0
4,Star Wars: Episode IX,515202542.0,142.0,0.0,275000000.0,53.0,4.0,61.0,4896.0
5,Birds of Prey: And the Fantabulous Emancipatio...,84158461.0,109.0,0.0,84500000.0,60.0,5.0,59.0,1327.0
6,Dolittle,77047065.0,101.0,1.0,175000000.0,26.0,4.0,46.0,148.0
7,Little Women,108101214.0,135.0,1.0,40000000.0,87.0,7.0,23.0,65.0
8,The Invisible Man,64914050.0,124.0,0.0,7000000.0,72.0,6.0,58.0,431.0
9,The Call of the Wild,62342368.0,100.0,1.0,135000000.0,47.0,6.0,43.0,77.0
10,Onward,61555145.0,102.0,1.0,0.0,61.0,7.0,56.0,298.0
11,Knives Out,165363234.0,130.0,0.0,40000000.0,82.0,7.0,52.0,809.0
12,Frozen II,477373578.0,103.0,1.0,150000000.0,64.0,6.0,47.0,458.0
13,Spies in Disguise,66757013.0,102.0,1.0,100000000.0,54.0,6.0,22.0,71.0
14,The Gentlemen,36296853.0,113.0,0.0,22000000.0,51.0,7.0,44.0,349.0
15,Just Mercy,36001502.0,137.0,0.0,25000000.0,68.0,7.0,50.0,100.0
16,Parasite,53369749.0,132.0,0.0,11400000.0,96.0,8.0,52.0,1312.0
17,Fantasy Island,26441782.0,109.0,0.0,7000000.0,22.0,4.0,29.0,80.0
18,Uncut Gems,50023780.0,135.0,0.0,19000000.0,90.0,7.0,56.0,510.0
19,Like a Boss,22169514.0,83.0,0.0,29000000.0,33.0,3.0,31.0,38.0
20,The Grudge,21221803.0,94.0,0.0,10000000.0,48.0,7.0,22.0,40.0
21,The Photograph,20578185.0,106.0,0.0,16000000.0,32.0,4.0,10.0,6.0
22,Underwater,17291078.0,95.0,0.0,0.0,48.0,6.0,37.0,162.0
23,The Turning,15472775.0,94.0,0.0,14000000.0,45.0,7.0,4.0,7.0
24,Gretel & Hansel,15347654.0,87.0,0.0,0.0,64.0,4.0,17.0,104.0
25,My Hero Academia: Heroes Rising,13304000.0,104.0,0.0,0.0,70.0,8.0,9.0,40.0
26,Bombshell,31762808.0,109.0,0.0,32000000.0,64.0,6.0,46.0,141.0
27,The Way Back,13590514.0,108.0,0.0,0.0,66.0,7.0,40.0,72.0
28,Brahms: The Boy II,12611536.0,86.0,0.0,10000000.0,29.0,4.0,13.0,40.0
29,Jojo Rabbit,33370906.0,108.0,0.0,14000000.0,58.0,7.0,57.0,576.0
30,Impractical Jokers: The Movie,10691091.0,92.0,0.0,3000000.0,39.0,7.0,5.0,16.0
31,Ford v Ferrari,117624357.0,152.0,0.0,97600000.0,81.0,8.0,47.0,547.0
32,Emma.,10055355.0,124.0,1.0,10000000.0,71.0,6.0,47.0,73.0
33,Bloodshot,10021787.0,109.0,0.0,45000000.0,44.0,5.0,35.0,152.0
34,I Still Believe,9868521.0,116.0,1.0,12000000.0,41.0,5.0,12.0,32.0
35,Downhill,8287061.0,86.0,0.0,0.0,49.0,4.0,39.0,35.0
36,Weathering with You,7798743.0,112.0,0.0,0.0,72.0,8.0,30.0,75.0
37,Cats,27166770.0,110.0,1.0,95000000.0,32.0,5.0,51.0,486.0
38,The Hunt,5812500.0,90.0,0.0,14000000.0,50.0,6.0,45.0,180.0
39,The Rhythm Section,5437971.0,109.0,0.0,50000000.0,45.0,4.0,36.0,38.0
40,A Beautiful Day in the Neighborhood,61704055.0,109.0,1.0,25000000.0,80.0,7.0,50.0,167.0
41,Richard Jewell,22345542.0,131.0,0.0,45000000.0,68.0,7.0,45.0,138.0
42,Portrait of a Lady on Fire,3759854.0,122.0,0.0,0.0,95.0,8.0,47.0,235.0

In [47]:

# print(metascores_2020['metascores'])
# print(metascores_2020['audience_scores'])

# df_2020_scores = pd.DataFrame.from_dict(metascores_2020)
# df_2020_scores

# df = pd.DataFrame.from_dict(scores_2019)
# df['metascores'] = pd.to_numeric(df['metascores'], errors='coerce')
# df1

# df1.dropna(inplace=True)
# df1 = pd.get_dummies(df1, columns=['rating'], sparse=True)
# df1.drop(['rating'])
# df1 = pd.to_numeric(df1['rating_PG'])
# df1 = pd.to_numeric(df1['rating'])
# df1 = pd.to_numeric(df1['rating_R'])
# df1 = pd.to_numeric(df1['domestic_total_gross'])
# df1 = pd.to_numeric(df1['budget'])
# df1 = pd.to_numeric(df1['metascores'])
# df1 = pd.to_numeric(df1['audience scores'])
# df1 = pd.to_numeric(df1['number of audience ratings'])

In [48]:
np.asarray(df1) 
# sns.pairplot(df1)
df1.columns
dropped = df1.drop('movie_title', 'domestic_total_gross')

ValueError: No axis named domestic_total_gross for object type <class 'pandas.core.frame.DataFrame'>

In [49]:
# df1 = df1.rename(columns={'audience scores': 'audience score'}).drop(columns=['rating'])
df1.info
df_2020_dicts = pd.get_dummies(['rating'])
df_2020_dicts

   rating
0       1

In [ ]:
X = df_2020_dicts.drop(columns = ['domestic_total_gross', 'movie_title'])
print(df1.info)
print(df1.describe)
X = pd.to_numeric(df1['rating_PG'])
y = df1['domestic_total_gross']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
X_train = sm.add_constant(X_train, has_constant='add')
model = sm.OLS(y_train, X_train.astype(float))

fit = model.fit()

X_test = sm.add_constant(X_test, has_constant = 'add')
y_pred = fit.predict(X_test)

In [51]:
metascores_2019 = movie_data_2019.return_2019()
metascores_2019

boxoffice_2019 = movie_data_2019.return_dicts()
len(metascores_2019['metascores'])
metas = metascores_2019['metascores']
aud = metascores_2019['audience_scores']
critics = metascores_2019['critic_count']
aud_rat = metascores_2019['num_audience_ratings']
print(len(metascores_2019['metascores']))
print(len(metascores_2019['critic_count']))
print(len(metascores_2019['audience_scores']))
print(len(metascores_2019['num_audience_ratings']))

# df2 = pd.DataFrame(metascores_2019)
boxoffice_2019['metascores'] = metas
boxoffice_2019['audience_scores'] = aud
boxoffice_2019['critic_count'] = critics
boxoffice_2019['number_of_audience_ratings'] = aud_rat
boxoffice_2019['metascores'] = df2['metascores'].str.extract('(\d+)')
boxoffice_2019['audience scores'] = df2['audience scores'].str.extract('(\d+)')
boxoffice_2019['critic count'] = df2['critic count'].str.extract('(\d+)')
boxoffice_2019['number of audience ratings'] = df2['number of audience ratings'].str.extract('(\d+)')
boxoffice_2019

908
908
908
908

TypeError: list indices must be integers or slices, not str

In [ ]:
skipped_metascores_2019 = movie_data_2019.return_skipped()
skipped_metascores_2019

In [ ]:
metascores_2018 = movie_data_2018.return_2018()
metascores_2018